.weather-app{
    h1,h2,h4,h5,h6{
        font-weight: 200;
    }
}
.card-title{
    font-weight: 400;
}

.info-content{
    display: flex;
    align-items: center;
    h1{
        font-size: 4.2rem;
    }
}

.stimation-info{
    font-size: 12px;
    color: #8a8a8a;
}

.more-info{
    font-size: 13px;
    text-align: center;
    div {
        display: grid;
        line-height: normal;
            label{
                font-variant: all-petite-caps;
                margin: 0px;
            }
            .value{
                font-size: 1.3rem;
                font-weight: 200;
                color: #f15d46;
            }
        }
}

i{
    margin-right: 5px;
}