
<div class="container-fluid mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6">
      <h6>Weather App, by Alejo Francomano</h6>
      <div *ngIf="data" class="card">
        <div class="card-body">
          <h6><i class="bi bi-clock"></i>{{ date | date:'mediumTime' }}</h6>
          <h3 class="card-title">{{ data.name }}, {{data.sys.country}}</h3>
          <div class="info-content mt-4">
            <div style="display: contents;"> 
            <img width="61px" height="61px" src='http://openweathermap.org/img/wn/{{data.weather[0].icon}}@4x.png' alt="icon">
            <h1 class="card-subtitle">{{data.main.temp | number: '1.1-1'}}°C</h1>
            </div>
            <div class="stimation-info ml-4">
              <label>Fells like {{data.main.feels_like| number: '1.0-0'}}°C</label>
              <label>{{data.weather[0].description}}</label>
            </div>
        </div>
        <div class="row more-info text-muted mt-4">
          <div class="col-6">
          <label><i class="bi bi-thermometer-half"></i>Humidity</label>
          <strong>{{ data.main.humidity }}%</strong>
          </div>
          <div class="col-6">
            <label><i class="bi bi-sunrise"></i>Sunrise</label>
          <strong>{{ sunrise | date:'mediumTime' }}</strong>
          </div>
        </div>
        <div class="row more-info text-muted mt-2">
          <div class="col-6">
            <label><i class="bi bi-speedometer2"></i>Pressure</label>
            <strong>{{ data.main.pressure }}hPa</strong>
          </div>
          <div class="col-6">
          <label><i class="bi bi-sunset"></i>Sunset</label>
          <strong>{{ sunset | date:'mediumTime'}}</strong>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>